div {
  color: blue;
}
#firstdiv { 
  float: left;
  margin-right: 40px;
  color: #8A2908;
}
#firsth2 {
  margin-top: 2px;
}
.blue-border{
  border: thick ridge blue;
}
.red-text{
  color: red;
}

.red-text.light{
  color: lightsalmon;
}

div#seconddiv div{
  border: thick outset lightseagreen;
}

div > a{
  font-weight: bolder;
  display: block;
}

.secret{
  display: none;
}
