// Place all the styles related to the todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.done-true{
  color: #ddd;
  text-decoration: line-through;
}