        <div class="todo done-{{completed}}" data-id="{{id}}" >
            <div>{{title}}</div>
             <input type="checkbox" {{#if completed}} checked {{/if}} name="completed"> <button id="removeTodo">delete</button>
        </div>